{:kotoba.app/id "cloud.itonami.isic-0729", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiawn5dll5o3u7nik74c46intmqzpq4x5t6icyp2iokla4gpbo5twm", :kotoba.app/embed-url "ipfs://bafkreiawn5dll5o3u7nik74c46intmqzpq4x5t6icyp2iokla4gpbo5twm", :published {:archive "https://kotobase.net/ipfs/bafkreiawn5dll5o3u7nik74c46intmqzpq4x5t6icyp2iokla4gpbo5twm", :size 72401, :put-status 201, :get-status 200, :at "2026-08-15T13:47:13.088Z"}}
